.topbar {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 48px;
    width: 100%;
    justify-items: center;
  }
  
  .button {
    --tw-bg-opacity: 1;
    background-color: rgb(57 71 57 / var(--tw-bg-opacity));
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 300px;
    text-align: center;
  }
  
  .button:hover {
    --tw-bg-opacity: 0.8;
    background-color: rgb(57 71 57 / var(--tw-bg-opacity));
  }