.topbar {
    display: flex;
    justify-content: left;
    padding: auto;
    background-color: black;
    color: white;
    height: 48px;
  }
  
  .buttonContainer {
    display: flex;
    gap: 16px;
  }
  
  .button {
    background-color: black;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    flex: 1; 
    width: 300px;
    text-align: center;
  }
  
  .button:hover {
    background-color: #333;
    border-color: #ddd;
  }