.topbar {
    display: flex;
    justify-content: space-between;
    color: white;

    justify-items: center;
  }
  
  .button {
    margin: auto;
    --tw-bg-opacity: 1;
    background-color: rgb(57 71 57 / var(--tw-bg-opacity));
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 14px;
  }
  
  .button:hover {
    --tw-bg-opacity: 0.8;
    background-color: rgb(57 71 57 / var(--tw-bg-opacity));
  }